.custom-button {
  background-color: #e5e7eb; /* bg-gray-200 */
  color: #000000; /* text-black */
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-md */
  padding: 0.5rem 1rem; /* px-4 py-2 */
}

.custom-button-selected {
  background-color: #10b981; /* bg-green-500 */
  color: #ffffff; /* text-white */
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-md */
  padding: 0.5rem 1rem; /* px-4 py-2 */
}