/* frontend/src/app/portal/eventos/maps/google/Mapa.css */
/* .leaflet-popup-content-wrapper.custom-popup {
    padding: 0 !important;
    color:aquamarine;
  }
  
  .leaflet-popup-content.custom-popup {
    margin: 0 !important;
    color:aquamarine;
  } */